<br/><br/>
<%= notice%>
<div role="main" class="container-fluid">
<div class="container-menu">
<h1 style="color: #6c757d;">Configuración</h1>
<hr><br>
<div class="row">
	<div class="col-sm-2">
		<div class="card-menu">
			<div class="icon">
				<a href="<%= applications_path %>"><img alt="image" src="/img/aplicaciones_128.png"></a>
			</div>
			<div class="legend">
			  <%= link_to 'Aplicaciones', applications_path %>
			</div>
		</div>
	</div>
	
	<div class="col-sm-2">
		<div class="card-menu">
			<div class="icon">
				<a href="<%= areas_path %>"><img alt="image" src="/img/area_128.png"></a>
			</div>
			<div class="legend">
				<%= link_to 'Areas', areas_path %>
			</div>
		</div>
	</div>
	
	<div class="col-sm-2">
		<div class="card-menu">
			<div class="icon">
				<a href="<%= criticalities_path %>"><img alt="" src="/img/criticidad_128.png"></a>
			</div>
			<div class="legend">
				<%= link_to 'Criticidad', criticalities_path %>
			</div>
		</div>
	</div>
	<!--<div class="tab">
    <button class="tablinks" onclick="openLink(event, 'Aplicaciones')"><%= link_to 'Aplicaciones', applications_path, style: "color:rgb(23, 162, 184);" %></button>
    <button class="tablinks" onclick="openLink(event, 'Areas')"><%= link_to 'Areas', areas_path, style: "color:rgb(23, 162, 184);" %></button>
    <button class="tablinks" onclick="openLink(event, 'Nservicios')"><%= link_to 'Niveles Servicio', applicationclients_path, style: "color:rgb(23, 162, 184);" %></button>
    <button class="tablinks active" onclick="openLink(event, 'Uaplicaciones')"><%= link_to 'Usuario Aplicación', userapplications_path, style: "color:rgb(23, 162, 184);" %></button>
    <button class="tablinks" onclick="openLink(event, 'Oaplicaciones')"><%= link_to 'Operador Aplicación', applicationoperators_path, style: "color:rgb(23, 162, 184);" %></button>
    <button class="tablinks" onclick="openLink(event, 'Uareas')"><%= link_to 'Usuario Area', userareas_path, style: "color:rgb(23, 162, 184);" %></button>
    <button class="tablinks" onclick="openLink(event, 'Criticidades')"><%= link_to 'Criticidad', criticalities_path, style: "color:rgb(23, 162, 184);" %></button>
  </div>-->


</div>
</div>
</div>