<br/><br/>
<div role="main" class="container-fluid">
<div class="container-menu">
<h1 style="color: #6c757d;">Gestión incidencias</h1>
<hr>
<br/>

<div class="row">
	<div class="col-sm-2">
		<div class="card-menu">
			<div class="icon">
				<a href="<%= new_incidentmanagement_path %>"><img alt="image" src="/img/report_128.png"></a>
			</div>
			<div class="legend">
				<%= link_to 'Consulta reporte', new_incidentmanagement_path %>
			</div>
		</div>
	</div>
	
	<div class="col-sm-2">
		<div class="card-menu">
			<div class="icon">
				<a href="<%= incidentmanagements_path %>"><img alt="image" src="/img/process_128.png"></a>
			</div>
			<div class="legend">
				<%= link_to 'Consulta gestión', incidentmanagements_path %>
			</div>
		</div>
	</div>
	
	<div class="col-sm-2">
		<div class="card-menu">
			<div class="icon">
				<a href="<%= statisticmanages_path  %>"><img alt="" src="/img/estadistica_128.png"></a>
			</div>
			<div class="legend">
				<%= link_to 'Estadistica', statisticmanages_path %>
			</div>
		</div>
	</div>
</div>
</div>
</div>