<br/><br/>
  <h1 style="color: #6c757d;">Operador aplicación</h1>
<hr><%= notice%>

<div class="row">
<div class="col-sm-12"><div class="footer text-left">
 <%= link_to 'Regresar', users_path, class: "btn btn-info" %>
</div><br/>

<% flash.each do |name, msg| %>
      <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= msg%>
      </div>
    <% end %>

<h5 class="text-left"><kbd>Usuario</kbd></h5>
  <div id="Nservicios" class="modal-content text-center tabcontent">
    <div class="table-responsive">
     <table class="table">
      <thead>
     <div class="row">
     <tr class="alert alert-secondary justify-content-center">
            <th colspan="3">Id</th>
            <th>Nombre</th> 
            <th>Usuario</th> 
            <th>Rol</th>   
            <th>Correo</th>
            <th>Estado</th>  
        </tr>
        </div>
        </thead>
          <tbody>          
              <tr class="text-center">
                <td colspan="3"><kbd><%= @user.id %></kbd></td>
                <td><%= @user.name %></td> 
                <td><%= @user.username %></td> 
                <td><%= @user.role.name %></td>
                <td><%= @user.email %></td>
                <td>
                  <% if @user.state %>           
                    <img src="/img/estado_activo_24.png" alt="Activo" />
                  <% else %>           
                    <img src="/img/estado_falso_24.png" alt="Inactivo" />
                  <% end %>
                </td>
              </tr>
          </tbody>
      </table>
</div>
</div>
</div>
</div>

 <p class="divider"></p>
  
<div class="row">
  <div class="col-sm-8">
<h5 class="text-left"><kbd>Listado usuario operador</kbd></h5>
<div id="Oaplicaciones" class="modal-content text-center tabcontent">
<div class="table-responsive">
<table class="table">
  <thead>
    <tr class="alert alert-secondary justify-content-center">
      <th colspan="3">Id</th>
      <th>Usuario</th>
      <th>Aplicación</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
   
  </thead>

  <% @applicationoperators.each do |applicationoperator| %>

  <tbody>    
      <tr class="text-center">
        <td colspan="3"><kbd><%= applicationoperator.id %></kbd></td>
        <td><%= applicationoperator.user.name %></td>
        <td><%= applicationoperator.application.name %></td>
        <td>
          <% if applicationoperator.state %>
             <img src="/img/estado_activo_24.png" alt="Activo" />
          <% else %>           
             <img src="/img/estado_falso_24.png" alt="Inactivo" />
          <% end %>
        </td>
        <td>
           <%= link_to applicationoperator, method: :delete, data: { confirm: 'Are you sure?', remote: true } do %>
                <%= image_tag "/img/eliminar_24.png", :title=>"Eliminar" %>
           <% end %>
        </td>
      </tr>     
      </tbody>
    <% end %>
</table>
</div>
</div>
<div id="spacing">
    <%= paginate(@applicationoperators) %>
</div>
</div>


<!--tabla editar-->
<div class="col-sm-4">
  <!-- The Modal -->
    <div class="modal-dialog">
      <div class="modal-content">
 <!-- Modal Header -->
    <div class="modal-header">
      <h5 class="modal-title"><kbd>Asignar</kbd></h5>
    </div>
<!-- Modal body -->
  <div class="modal-body">
    <div class="modal-content tabcontent">
        <div class="dialog">
        <%= simple_form_for(@applicationoperator, url: application_operator_create_path) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.hidden_field :user_id, :value => @user.id%>
        <%= f.hidden_field :state, :value => true%>

    <form>
      <figcaption class="figure-caption">
        <%= f.label :application %>
        <%= f.select :application_id, options_for_select(@applications.collect{ |application| [[application.client.name, application.application.name, application.servicelevel], application.application.id]})%>
      </figcaption>

      <%= f.submit "Guardar", method: :edit %>
  </form>
      </div>
      <% end %>
      </div>
     </div>
    </div>
   </div>
  </div>
</div>
<!--tabla editar-->
