<br/><br/>
<div class="container">
  <!-- The Modal -->
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
 <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title"><kbd>Gestiona incidencias</kbd></h4>
    </div>
<!-- Modal body -->
  <div class="modal-body">
    <div class="modal-content tabcontent">
        <div class="dialog">
<%= simple_form_for(@incidentmanagement) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    
<form class="form-inline" method="post">


  <label class="form-group col-md-3">
  <figcaption class="figure-caption">
      <%= f.label :state%>
      <%= f.select :state, options_for_select([['Activo', true], ['Inactivo', false]]) %>
      </figcaption>
  </label>


  <label class="form-group col-md-5">
  <figcaption class="figure-caption">
     <%= f.input :description %>
  </figcaption>
  </label>

  <label class="form-group col-md-5">
    <%= f.button :submit, class:"btn btn-info" %>
    <%= link_to 'Regresar', incidentmanagement_path(@incidentmanagement), class:"btn btn-info" %>
  </label>

<div class="col-md-5">
  <figcaption class="figure-caption">
    <%= f.label :picture %><br/>
    </figcaption>
     <%= f.file_field :picture, class: 'form-control' %>
    <br/>
    <figure class="figure">
      <%= image_tag(@incidentmanagement.picture_url, class: 'figures-imgindex img-fluid rounded', alt: 'Image') if @incidentmanagement.picture? %>
     </figure>
      <%= f.hidden_field :picture_cache %>
</div>
       </form>
      </div>
      <% end %>
  </div>
  </div>
  </div>
  </div>
  </div>

