<br/><br/>
  <h1 style="color: #6c757d;">Consulta reporte</h1>
  <hr>

<div class="footer text-left">
    <%= link_to 'Menú', vistagestions_path, class: "btn btn-info" %>
  </div><br/>

<% flash.each do |name, msg| %>
      <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= msg%>
      </div>
    <% end %>

 <div class="custom-search-form">
  <%=form_tag(incidentmanagements_path, method: :get) do %>
  <%=text_field_tag(:search, params[:search], placeholder: "Buscar por N° incidencia")%>
<%end%>
</div><br/>

<h5 class="text-left"><kbd>Listado reportes</kbd></h5>

<div class="modal-content text-center">
<div class="table-responsive">
<table class="table">
<thead>
  <div class="row">
    <tr class="success btn-info active justify-content-center">
    <th colspan="3"><h5><b style="color: orange">Gestionar</b></h5></th>
      <th><h6>N° incidencia</h6></th>
      <th><h6>Criticidad</h6></th>
      <th><h6>Cliente</h6></th>
      <th><h6>Reporta</h6></th>
      <th><h6>Área</h6></th>
      <th><h6>Aplicación</h6></th>
      <th><h6>Hrs/ANS</h6></th>
      <th><h6>Hrs/Reporte</h6></th>
      <th><h6>Descripción</h6></th>
      <th><h6>Estado</h6></th>
    </tr>
  </div>
</thead>

  <% @incidentmanagements.each do |incidentmanagement| %>

  <tbody>
    <div class="row">
      <tr class="text-center">
        <td colspan="3"><%= link_to edit_incidentmanagement_path(incidentmanagement) do%>
         <%= image_tag "/img/gestionar_64.png", :title=>"Gestionar incidencia" %>
         <% end %>
        </td>
        <td>
        <% if DateTime.now < incidentmanagement.Overtime%>
            <kbd class="btn-group btn btn-success btn-sm"><%= incidentmanagement.incident.id %></kbd>
          <%end%>
          <% if DateTime.now > incidentmanagement.Overtime && DateTime.now < incidentmanagement.Littletime %>
          <kbd class="btn-group btn btn-warning btn-sm"><%= incidentmanagement.incident.id %></kbd>
             <%end%>
             <% if DateTime.now > incidentmanagement.Littletime %>
          <kbd class="btn-group btn btn-danger btn-sm"><%= incidentmanagement.incident.id %></kbd>
             <%end%>
        </td>
        <td><%= incidentmanagement.incident.criticality.name %></td>
        <td><%= incidentmanagement.incident.userapplication.applicationclient.client.name %></td>
        <td><%= incidentmanagement.incident.user.name %></td>
        <td><%= incidentmanagement.incident.area.name %></td>
        <td><%= incidentmanagement.incident.userapplication.applicationclient.application.name %></td>
        <td><%= incidentmanagement.incident.userapplication.applicationclient.servicelevel %>hrs</td>
        <td><%= incidentmanagement.incident.created_at %></td>
        <td><%= incidentmanagement.incident.description %></td>
        <td>
          <% if incidentmanagement.incident.state %>
             <img src="/img/estado_activo_24.png" alt="Activo" />
          <% else %>           
             <img src="/img/estado_falso_24.png" alt="Inactivo" />
          <% end %>
        </td>
        <!--<td>
           <%comment= link_to incidentmanagement, method: :delete, data: { confirm: 'Desea eliminar?', remote: true, class:"modal-content" } do %>
                <%= image_tag "/img/eliminar_24.png", :title=>"Eliminar" %>
           <% end %>
        </td>-->
       </tr>
       
      </div>
      </tbody>
    <% end %>
</table>
</div>
</div>

<div id="spacing">
 <%= paginate(@incidentmanagements) %>
</div>


