<br/><br/>
  <h1 style="color: #6c757d;">Consulta reporte</h1>
  <hr>

<div class="footer text-left">
    <%= link_to 'Menú', vistagestions_path, class: "btn btn-info" %>
  </div><br/>

<% flash.each do |name, msg| %>
      <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= msg%>
      </div>
    <% end %>

 <div class="custom-search-form">
  <%=form_tag(incidentmanagements_path, method: :get) do %>
  <%=text_field_tag(:search, params[:search], placeholder: "Buscar por N° incidencia")%>
<%end%>
</div><br/>

<h5 class="text-left"><kbd>Listado reportes</kbd></h5>

<div class="modal-content text-center">
<div class="table-responsive">
<table class="table">
<thead>
  <div class="row">
    <tr class="success btn-info active justify-content-center">
    <th colspan="3"><h5><b style="color: orange">Gestionar</b></h5></th>
      <th><h6>N° incidencia</h6></th>
      <th><h6>Reporte</h6></th>
      <th><h6><kbd class="btn-group btn btn-danger btn-sm", title="Poco tiempo, a una hora de acabarse el ANS" >P</kbd></h6></th>
      <th><h6><kbd class="btn-group btn btn-warning btn-sm", title="Sobre el tiempo, a mitad del tiempo ANS">S</kbd></h6></th>
      <th><h6><kbd class="btn-group btn btn-success btn-sm", title="Bien de tiempo, muestra el tiempo en que termina el ANS">B</kbd></h6></th>
      <th><h6>Gestión</h6></th>
      <th><h6>Tiempo transcurrido</h6></th>
      <th><h6>Aprobado</h6></th>
      <th><h6>Rechazado</h6></th>
      <th><h6>Estado</h6></th>
    </tr>
  </div>
</thead>

  <% @incidentmanagements.each do |incidentmanagement| %>

  <tbody>
    <div class="row">
      <tr class="text-center figure-caption">
        <td colspan="3"><%= link_to edit_incidentmanagement_path(incidentmanagement) do%>
         <%= image_tag "/img/gestionar_64.png", :title=>"Gestionar incidencia" %>
         <% end %>
        </td>
        <td>
        <% if DateTime.now < incidentmanagement.Overtime%>
            <kbd class="btn-group btn btn-success btn-sm"><%= incidentmanagement.incident.id %></kbd>
          <%end%>
          <% if DateTime.now > incidentmanagement.Overtime && DateTime.now < incidentmanagement.Littletime %>
          <kbd class="btn-group btn btn-warning btn-sm"><%= incidentmanagement.incident.id %></kbd>
             <%end%>
             <% if DateTime.now > incidentmanagement.Littletime %>
          <kbd class="btn-group btn btn-danger btn-sm"><%= incidentmanagement.incident.id %></kbd>
             <%end%>
        </td>
        <td><b><%= incidentmanagement.incident.created_at.in_time_zone %></b></td>
        <td><%= incidentmanagement.Littletime.in_time_zone %></td>
        <td><%= incidentmanagement.Overtime.in_time_zone %></td>
        <td><%= incidentmanagement.Tlevel.in_time_zone %></td>
        <td><b><%= incidentmanagement.updated_at.in_time_zone %></b></td>
        <td><%= distance_of_time_in_words(incidentmanagement.incident.created_at.in_time_zone, incidentmanagement.updated_at.in_time_zone, options = {include_seconds: true }) %></td>
        <td>
          <% if incidentmanagement.incident.state %>
             <img src="/img/estado_activo_24.png" alt="Activo" />
          <% else %>           
             <img src="/img/estado_falso_24.png" alt="Inactivo" />
          <% end %>
        </td>
        <!--<td>
           <%comment= link_to incidentmanagement, method: :delete, data: { confirm: 'Desea eliminar?', remote: true, class:"modal-content" } do %>
                <%= image_tag "/img/eliminar_24.png", :title=>"Eliminar" %>
           <% end %>
        </td>-->
       </tr>
       
      </div>
      </tbody>
    <% end %>
</table>
</div>
</div>

<div id="spacing">
 <%= paginate(@incidentmanagements) %>
</div>


