<br/><br/><br/>
  <h1 style="color: #6c757d;">Gestión incidencia</h1>
    <div class="tab">
    <button class="tablinks active" onclick="openLink(event, 'Gestión incidencia')"><%= link_to 'Gestiona incidencia', new_incident_path, style: "color:rgb(23, 162, 184);" %></button>
    <button class="tablinks" onclick="openLink(event, 'Consulta incidencia')"><%= link_to 'Consulta incidencia', incidentmanagements_path, style: "color:rgb(23, 162, 184);" %></button>
    <button class="tablinks" onclick="openLink(event, 'Estadistica')"><%= link_to 'Estadistica', style: "color:rgb(23, 162, 184);" %></button>
  </div>
<%= notice%>
<%= render 'form', incidentmanagement: @incidentmanagement %>


