<br/><br/>
  <h1 style="color: #6c757d;">Editar incidencia</h1>
   <hr>

 <% flash.each do |name, msg| %>
      <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= msg%>
      </div>
    <% end %>

<!--tabla principal-->
<div class="row">
<div class="col-md-12">
 <div class="footer text-left">
    <%= link_to 'Regresar', incidents_path, class: "btn btn-info" %>
    <%= link_to 'Menú', vistareportes_path, class: "btn btn-info" %>
  </div><br/>

  <% flash.each do |name, msg| %>
      <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= msg%>
      </div>
    <% end %>
  
<h5 class="text-left"><kbd>Incidencia reportada</kbd></h5>
<div class="modal-content text-center">
<div class="table-responsive">
  <table class="table">
    <thead>
        <tr class="success btn-info active justify-content-center">
          <th colspan="2"><h5><b style="color: orange">N° Incidencia</b></h5></th>
          <th><h6>Criticidad</h6></th>
          <th><h6>Aplicación</h6></th>
          <th><h6>Reporta</h6></th>
          <th><h6>ANS</h6></th>
          <th><h6>Enviada</h6></th>
          <th><h6>Descripción</h6></th>
          <th><h6>Estado</h6></th>
        </tr>
    </thead>

    <tbody>
      <tr class="text-center">
        <td colspan="2"><kbd><%= @incident.id%></kbd></td>
        <td><%= @incident.criticality.name %></td>
        <td><%= @incident.userapplication.applicationclient.application.name %></td>
        <td><%= @incident.user.name%></td>
        <td><%= @incident.userapplication.applicationclient.servicelevel %>hrs</td>
        <td><%= @incident.created_at%></td>
        <td><%= @incident.description%></td>
        <td>
          <% if @incident.state %>
             <img src="/img/estado_activo_24.png" alt="Activo" />
          <% end %>
        </td>
       </tr>
    </tbody>
  </table>
</div>
</div>
<!--tabla principal-->
<br/>
<!--tabla imagen reporte-->
<div class="row">
<div class="col-md-7">
<h5 class="text-left"><kbd>Imagén reporte incidencia</kbd></h5>
<div class="modal-content text-center">
<label class="form-group">
  <tbody>
     <br/>
       <figure class="figure">
         <%= image_tag(@incident.picture_url, class: 'figure-img img-fluid rounded', alt: 'Image') if @incident.picture? %>
       </figure>
  </tbody>
</label>
</div>
</div>
<!--tabla imagen-->
<div class="col-md-5">
  <!-- The Modal -->
    <div class="modal-dialog">
      <div class="modal-content">
 <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title"><kbd>Registrar</kbd></h4>
    </div>
<!-- Modal body -->
  <div class="modal-body">
    <div class="modal-content tabcontent">
       <div class="dialog kbd1">
        <%= simple_form_for(@incident) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

 <form>
    <figcaption class="figure-caption">
      <%= f.association :userapplication, label_method: :lista_appclient %>
    </figcaption>

    <figcaption class="figure-caption">
       <%= f.association :area %>
    </figcaption>

    <figcaption class="figure-caption">
       <%= f.association :criticality %>
    </figcaption>

    <figcaption class="figure-caption">
        <%= f.label :state %>
        <%= f.select :state, options_for_select([['Activo', true]]) %>
    </figcaption>

    <label></label>
     <figcaption class="figure-caption">
      <%= f.label :picture %>
     </figcaption>
     <figcaption class="figure-caption">
       <%= f.file_field :picture %>
       <%= f.hidden_field :picture_cache %>
      </figcaption>

      <label></label>
    <figcaption class="figure-caption">
      <%= f.input :description, placeholder: 'Describe la incidencia claramente.' %>
    </figcaption>
    
  <figcaption class="figure-caption">
     <%=f.input :user_id, :as => :hidden, :input_html => { :value => "#{current_login.id}" }%>
  </figcaption>

  <%= f.submit 'Actualizar', method: :edit, data: { confirm: 'Desea actualizar la incidencia' }, class:"btn btn-info btn-md"%>
 
 </form>
 <% end %>
</div>
 </div>
  </div>
   </div>
    </div>
     </div>
      </div>