<br/><br/>
  <h1 style="color: #6c757d;">Consulta incidencias</h1>
  <hr>

<div class="footer">
    <%= link_to 'Menú', vistareportes_path, class: "btn btn-info" %>
     <div class="form-group">
       <%= form_tag(incidents_path, class:"form-inline" , method: :get) do %>
      <input type="text" name="q" class="form-control" placeholder="Buscar por área o aplicación" type="text" value="<%= params[:q] %>">
     </div>
   <%end%>
</div>

<% flash.each do |name, msg| %>
      <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= msg%>
      </div>
    <% end %>

<h5 class="text-left"><kbd>Listado incidencias reportadas</kbd></h5>
<div class="modal-content text-center">
<div class="table-responsive">
<table class="table">
<thead>
  <div class="row">
    <tr class="success btn-info active justify-content-center">
    <th colspan="3"><h5><b style="color: orange">Ticket</b></h5></th>
    <th><h6>Visualizar</h6></th>
    <th><h6>Aplicación</h6></th>
    <th><h6>Area</h6></th>
    <th><h6>Nivel criticidad</h6></th>
    <th><h6>ANS</h6></th>
    <th><h6>Enviada</h6></th>
    <th><h6>Descripción</h6></th>
    <th><h6>Estado</h6></th>
    </tr>
  </div>
</thead>

<% @incidents.each do |incident| %>

<tbody>
  <div class="row">
    <tr class="justify-content-center">
        <td colspan="3"><kbd><%= incident.id %></kbd></td>
        <td><%= link_to edit_incident_path(incident) do %>
            <%= image_tag "/img/ver_24.png", :title=>"Ver" %>
          <% end %>
          </td>
        <td><%= incident.userapplication.applicationclient.application.name %></td>
        <td><%= incident.area.name %></td>
        <td><%= incident.criticality.name %></td>
        <td><%= incident.userapplication.applicationclient.servicelevel %>hrs</td>
        <td><%= incident.created_at.in_time_zone %></td>
        <td><%= incident.description %></td>
        <td>
          <% if incident.state %>
             <img src="/img/estado_activo_24.png" alt="Activo" />
          <% else %>
             <img src="/img/estado_falso_24.png" alt="Inactivo" />
          <% end %>
        </td>
    </tr>
  </div>
</tbody>
    <%end%>
  </table>
</div>
</div>
<div id="spacing">
<%= paginate(@incidents) %>
</div>
