  <br/><br/>
  <h1 style="color: #6c757d;">Aplicación cliente</h1>
<hr>

<div class="row">
  <div class="boton1">
    <%= link_to 'Regresar', clients_path, class: "btn btn-info" %>
    </div>
</div><br/>

<% flash.each do |name, msg| %>
  <div class="alert alert-info alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= msg%>
  </div>
<% end %>

<div class="divform">
 <div class="modal-header">
      <h4 class="modal-title"><kbd>Registrar</kbd></h4>
    </div>
  <%= simple_form_for(@applicationclient) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        
  <form class="form">
    <div class="left">
      <figcaption class="figure-caption">
       <%= f.association :application %>
         </figcaption>
         </div>

    <div class="right">
      <figcaption class="figure-caption">
        <%= f.association :client %>
        </figcaption>
        </div>
       
    <div class="left">
      <figcaption class="figure-caption">
        <%= f.label :servicelevel %>
        <%= f.number_field :servicelevel, :value => 5, min: 5, max: 80, step: 1 %>
      </figcaption>
        </div>

    <div class="right">
      <figcaption class="figure-caption">
         <%= f.label :state %>
            <%= f.select :state, options_for_select([['Activo', true], ['Inactivo', false]]) %>
          </figcaption>
          </div>

    <div class="center">
      <%= f.submit "Guardar"%>
      </div>

</form>
  <% end %>
      </div>
      
<!--tabla editar-->

