<br/><br/><br/>
<%= notice %>
<div class="modal-content text-center tabcontent">
<div class="table-responsive">
  <table class="table">

    <thead>
      <div class="row">
        <tr class="alert alert-secondary justify-content-center">
          <th colspan="2">Id</th>
          <th>Nombre Aplicación</th>
          <th>Cliente</th>
          <th>Nivel Servicio ANS</th>
          <th>Estado</th>
        </tr>
      </div>
    </thead>

    <tbody>
      <div class="row">
      <tr class="text-center">
        <td colspan="2"><kbd><%= @applicationclient.id%></kbd></td>
        <td><%= @applicationclient.application.name %></td>
        <td><%= @applicationclient.client.name %></td>
        <td><%= @applicationclient.servicelevel %>hrs</td>
        <td>
          <% if @applicationclient.state %>
             <img src="/img/estado_activo_24.png" alt="Activo" />
          <% else %>           
             <img src="/img/estado_falso_24.png" alt="Inactivo" />
          <% end %>
        </td>
        </tr>
      </div>
    </tbody>
  </table>
</div>
</div>

<div class="actions">
<br/>
<% comment= link_to 'Editar', edit_applicationclient_path(@applicationclient) %>
<%= link_to 'Regresar', edit_applicationclient_path, class: "btn btn-info" %>
</div>