<br/><br/>
<h1 style="color: #6c757d;">Editar usuario</h1>
<hr>
<br/><%= notice%>

<div class="container">
 <div class="footer">
    <%= link_to 'Regresar', users_path, class: "btn btn-info" %>
  </div><br/>
  <!-- The Modal -->
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
 <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title"><kbd>Registrar</kbd></h4>
    </div>
<!-- Modal body -->
  <div class="modal-body">
    <div class="modal-content tabcontent">
        <div class="dialog">
    <%= simple_form_for(@user) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <form class="form-inline">
          <label class="form-group col-md-4">
          <%= f.input :name, class: "form-control mb-2 mr-sm-2", placeholder: "Nombre Usuario" %>
          </label>

          <label class="form-group col-md-4">
           <%= f.input :email, class: "form-control mb-2 mr-sm-2", placeholder: "Ej: user@domain.com" %>
          </label>

          <label class="form-group col-md-3">
          <%= f.association :role, class: "form-control mb-2 mr-sm-2" %>
          </label>

          <label class="form-group col-md-4">
            <%= f.input :username, class: "form-control mb-2 mr-sm-2", placeholder: "Ej: nombre.apellido" %>
          </label>

          <label class="form-group col-md-2">
          <%= f.label :state%>
          <%= f.select :state, options_for_select([['Activo', true], ['Inactivo', false]]) %>
          </label>


        <label class="form-group">
          <%= f.submit "Guardar", class: "btn btn-info btn-md" %>
        </label>

      <% end %>
</form>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>