<div class="bg-image-login"></div>
<div class="bg-text-login">
<div>

<h2 style="color: #6c757d;">Reestablecer contrase침a</h2>
<div class="imgcontainer">
     <%= image_tag "/img/login.png", :alt=>"Contrase침a" %>
  </div><br/>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

<form class="form-signin">

<% flash.each do |key, value| %>
    <a>
      <% if key == "alert"%>
      <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong> <%= value %></strong>
      </div>
      <% end %>
    </a>
<% end %>

  <figcaption class="figure-caption">
      <%= f.label "Correo", :id=>"text-label" %><br />
      <%= f.email_field :email, class:"form-control", required: true, :placeholder=> "ejemplo@gmail.com", autofocus: true, input_html: { autocomplete: "off" } %>
    </figcaption>
    <br/>
    <%= f.button :submit, "Resetear contrase침a", class:'btn btn-lg btn-block btn-signin' %>

    <%- if controller_name != 'sessions' %>
  <%= link_to "Inicia Sesi칩n", new_session_path(resource_name), style:"color: white;" %><br />
<% end %>

</form>
<% end %>
</div><!--div card card container-->
</div><!--div container-->
