 <br/><br/>
  <h1 style="color: #6c757d;">Nuevo cliente</h1> 
 <hr>
 <br/><%= notice%>

  <div class="container">
  <div class="footer">
       <%= link_to 'Regresar', clients_path, class: "btn btn-info btn-md" %>
    </div><br/>
  <!-- The Modal -->
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
  <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title"><kbd>Registrar</kbd></h4>
    </div>
        
    <!-- Modal body -->
        <div class="modal-body">
          <div class="modal-content tabcontent">
           <div class="dialog">
              <%= simple_form_for(@client) do |f| %>
               <%= f.error_notification %>
               <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <form class="form-inline">

          <label class="form-group col-md-4">
          <%= f.input :nit, class: "form-control mb-2 mr-sm-2", placeholder: "Registre NIT" %>
        </label>

        <label class="form-group col-md-4">
          <%= f.input :name, class: "form-control mb-2 mr-sm-2", placeholder: "Nombre Cliente" %>
        </label>

          <label class="form-group col-md-3">
          <%= f.input :reason, class: "form-control mb-2 mr-sm-2", placeholder: "Razon social" %>
        </label>

          <label class="form-group col-md-4">
          <%= f.input :addres, class: "form-control mb-2 mr-sm-2", placeholder: "Dirección Domicilio" %>
        </label>

          <label class="form-group col-md-4">
          <%= f.input :telephone, class: "form-control mb-2 mr-sm-2", placeholder: "Telefono Fijo/Celular" %>
        </label>

          <label class="form-group col-md-3">
          <%= f.input :contact, class: "form-control mb-2 mr-sm-2", placeholder: "Numero de contacto" %>
        </label>

        <label class="form-group col-md-2">
            <%= f.label :state, :id=>"text-label" %><br />
            <%= f.select :state, options_for_select([['Activo', true], ['Inactivo', false]]) %>
        </label>

      <label class="form-group">
          <%= f.submit "Guardar", class: "btn btn-info btn-md" %>
      </label>

<% end %>
</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
