<br/><br/><br/>
<div class="modal-content tabcontent">
  <div class="dialog">
        <%= simple_form_for(@userclient) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="body">
        <div class="form-group">
          <%= f.association :user, class: "form-control input-lg" %>
          </div>

          <div class="form-group">
          <%= f.association :user, label_method: :username, class: "form-control input-lg" %>
          </div>

          <div class="form-group">
          <%= f.association :user, label_method: :role_id, class: "form-control input-lg" %>
          </div>

          <div class="form-group">
          <%= f.association :user, label_method: :mail, class: "form-control input-lg" %>
          </div>

          <div class="form-group">
          <%= f.label :state%>
          <%= f.select :state, options_for_select([['Activo', true], ['Inactivo', false]]) %>
          </div>

          <div class="form-group">
          <%= f.association :client, class: "form-control input-lg" %>
          </div>

          <div class="form-group">
          <%= f.association :user, label_method: :creator, class: "form-control input-lg" %>
          </div>

        </div>

        <div class="footer">
          <%= f.submit "Guardar", class: "btn btn-primary btn-lg btn-block" %>
          </br>
          <%= link_to 'Regresar', userclients_path, class: "btn btn-info btn-lg btn-block" %>
        </div>
        
      <% end %>

    </div>
  </div>