<br/><br/>
  <h1 style="color: #6c757d;">Áreas</h1>
   <hr><%= notice%>

    <div class="footer">
      <%= link_to 'Nuevo', new_area_path, class: "btn btn-info" %>
      <%= link_to "Menú", vistaclientes_path, class:"btn btn-info" %>
    </div><br/>


<h5 class="text-left"><kbd>Listado áreas</kbd></h5>
<div id="Areas" class="modal-content text-center tabcontent">
<div class="table-responsive">
<table class="table">
  <thead>
  <div class="row">
    <tr class="alert alert-secondary justify-content-center">
      <th colspan="3">Id</th>
      <th>Nombre Area</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    </div>
  </thead>

  <% @areas.each do |area| %>

  <tbody>
    <div class="row">
      <tr class="text-center">
        <td colspan="3"><kbd><%= area.id %></kbd></td>
        <td><%= area.name %></td>
        <td>
          <% if area.state %>
             <img src="/img/estado_activo_24.png" alt="Activo" />
          <% else %>           
             <img src="/img/estado_falso_24.png" alt="Inactivo" />
          <% end %>
        </td>
        <td>
          <%= link_to edit_area_path(area) do %>
            <%= image_tag "/img/edit_24.png", :title=>"Editar" %>
          <% end %>
          &nbsp; &nbsp;
           <%= link_to area, method: :delete, data: { confirm: 'Are you sure?', remote: true } do %>
                <%= image_tag "/img/eliminar_24.png", :title=>"Eliminar" %>
           <% end %>
        </td>
       </tr>
      </div>
      </tbody>
    <% end %>
  
</table>
</div>
</div>