</br>

<div class="alert">
  <p id="notice" class="alert alert-success">
    <%= notice %>
      <strong>Area!</strong> Actualizado. 
  </p>
</div>

<div class="modal-content text-center tabcontent">
<div class="table-responsive">
  <table class="table">

    <thead>
      <div class="row">
        <tr class="success btn-info active justify-content-center">
          <th colspan="2">Id</th>
          <th>Nombre Area</th>
          <th>Estado</th>
      
        </tr>
      </div>
    </thead>

    <tbody>
      <div class="row">
      <tr class="text-center">
        <td colspan="2"><%= @area.id%></td>
        <td><%= @area.name %></td>
        <td><%= @area.state %></td>
        
        </tr>
      </div>
    </tbody>
  </table>
</div>
</div>

<div class="actions">
</br>
<% comment= link_to 'Editar', edit_area_path(@area) %>
<%= link_to 'Regresar', areas_path, class: "btn btn-info" %>
</div>